.img-first{
float: left;

}



.container {
display: flex;
flex-direction: column;
gap:15px;
}

@media only screen and (max-width: 600px) {
    .img-first{
          float: none;
        }
        .container {
            display: flex;
            flex-direction: column;
            height: 80vh;
            line-height: 20px;
            }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {

  .img-first{
    float: none;
    width:20vw;
  }


}

